@charset "UTF-8";

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'omyu_pretty';
    font-size: larger;
    height: 100%;
    /* 화면 전체 높이로 설정 */
    margin: 0;
    /* 기본 마진 제거 */
    padding: 0;
    /* 기본 패딩 제거 */
}

.container{
	width:1024px;
	
}

	.kakaoButton{
		cursor:pointer
	}
	.line {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        color: rgba(0, 0, 0, 0.35);
        font-size: 20px;
        margin: 8px 0px;
        width:800px;
      }
      .line::before,
      .line::after {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 32px;
      }