@charset "UTF-8";

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'omyu_pretty';
    font-size: larger;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* 사이드 메뉴 div */
#side_menu_area {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(133, 133, 133);
    color: white;
}

#menu_top {
    flex: 1;
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding-left: 10px;
    text-align: center;
}

#menu_mid {
    flex: 5;
    display: flex;  
    flex-direction: column;
    align-items: center; 
    padding-top: 20px;
    
}

#menu_bottom {
    flex: 1;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

/* 요소 스타일링 */
.menu_button {
	
}


/* 메인 콘텐츠 div */
#content_area {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 100%;
}

#content_top {
    flex: 1;
    display: flex;  
    justify-content: flex-start;
    align-items: center;  
    padding-left: 40px;
}

#content_mid {
    flex: 6;
    display: flex;  
    justify-content: center;  
    align-items: center; 
    width: 100%; 
}

/* 메인 콘텐츠 */
table {
	width: 80%;
	border: 1px solid rgb(133, 133, 133);
}

th {
	text-align: center;
	border: 1px solid rgb(133, 133, 133);
}
tr {
	text-align: center;
	border: 1px solid rgb(133, 133, 133);
}

td {
	text-align: center;
	border: 1px solid rgb(133, 133, 133);
}

