<p>고유아이디</p>
<input type="text" class="form-control" placeholder="고유아이디" name="user_id" disabled>
<p>아이디</p>
<input type="text" class="form-control" placeholder="아이디" name="id" disabled>
<p>닉네임</p>
<input type="text" class="form-control" placeholder="닉네임" name="nickname" disabled>
<p>치자나무 이름</p>
<input type="text" class="form-control" placeholder="치자나무 이름" name="gardenia">
<p>히아신스 이름</p>
<input type="text" class="form-control" placeholder="히아신스 이름" name="hyacinth">
<p>선인장 이름</p>
<input type="text" class="form-control" placeholder="선인장 이름" name="cactus">