<p>고유아이디</p>
<input type="text" class="form-control" placeholder="아이디" name="user_id" disabled>
<p>아이디</p>
<input type="text" class="form-control" placeholder="아이디" name="id">
<p>이름</p>
<input type="text" class="form-control" placeholder="이름" name="name" />
<p>닉네임</p>
<input type="text" class="form-control" placeholder="닉네임" name="nickname">
<p>이메일</p>
<input type="text" class="form-control" placeholder="이메일" name="email">
<p>타입</p>
<input type="text" class="form-control" placeholder="이메일" name="type">