<meta charset="utf-8" />
<div style="text-align: center;">
<p>물은 하루에 3번 주세요.<br/>비료는 하루에 2번 주세요.</p>
</div>
<hr>
<h3>"사막의 보석, 강인한 생명력의 선인장"</h3>
<div style="text-align: center;">
	<img src="../../img/plant_img/Cactus.png" style="width: 40%;">
</div>
<p>선인장은 '인내와 강인함'을 상징하며, 극한의 환경에서도 살아남는 놀라운 생명력을 가진 식물입니다. 이들은 물을 아끼는 능력이 탁월하여, 바쁜 현대인들에게 인기 있는 실내용 식물이 되었습니다.</p>
<p>1. 햇빛과 온도</p>
<p>선인장은 많은 햇빛을 필요로 합니다. 밝고 환한 곳, 특히 직사광선이 잘 드는 곳에서 잘 자랍니다. 실내에서 기르는 경우, 남쪽 창가가 이상적입니다. 선인장은 높은 온도에 잘 적응하지만, 겨울철에는 10도
	이상을 유지해 주는 것이 좋습니다. 너무 추운 환경은 성장을 방해하거나 동해를 입힐 수 있습니다.</p>
<p>2. 물주기와 습도</p>
<p>선인장은 과습을 매우 싫어합니다. 물주기는 흙이 완전히 말라 있을 때만 해주며, 한 달에 한 번 정도가 적당합니다. 겨울에는 물주기를 더 줄여야 하며, 물은 화분 바닥의 배수구멍을 통해 잘 빠져나갈 수 있도록
	해야 합니다. 과습은 뿌리 부패의 원인이 되므로 주의해야 합니다.</p>
<p>3. 해충 및 질병 관리</p>
<p>선인장은 대체로 해충이나 질병에 강하지만, 때때로 진딧물이나 거미응애와 같은 해충에 의해 공격받을 수 있습니다. 해충 발견 시, 적절한 방제가 필요합니다. 곰팡이나 부패 징후가 보이면, 환경을 개선하고 필요시
	병든 부분을 제거해야 합니다.</p>
<p>4. 겨울철 관리</p>
<p>선인장은 겨울 동안 대부분 휴면 상태에 들어갑니다. 이 기간 동안은 물주기를 줄이고, 가능한 시원하고 건조한 환경을 유지하는 것이 중요합니다. 휴면기를 거치며 선인장은 다음 성장기를 위한 에너지를 축적합니다.
</p>
<p>5. 선인장의 다양한 종류와 매력</p>
<p>선인장에는 다양한 종류가 있으며, 각각 독특한 형태와 꽃을 가지고 있습니다. 일부는 화려한 꽃을 피우기도 하며, 다른 종류는 기괴하고 흥미로운 모양으로 인기가 있습니다. 이들은 실내 장식으로서 독특한 미적
	가치를 가지며, 소규모 정원이나 화단에서도 잘 자랍니다.</p>