<meta charset="utf-8" />
<div style="text-align: center;">
<p>물은 하루에 3번 주세요.<br/>비료는 하루에 2번 주세요.</p>
</div>
<hr>
<h3>"신부의 새하얀 드레스가 떠오르는 치자나무"</h3>
<div style="text-align: center;">
<img src="../../img/plant_img/Gardenia.png" style="width: 40%;">
</div>
<p>"한없는 즐거움과 행복"이라는 꽃말을 가진 치자는 새로운 출발을 앞둔 소중한 사람에게 선물하기 좋은 아이랍니다. 뿐만 아니라 늦봄의 정원이 떠오르는 치자꽃의 향기는 '가드니아'라는 이름의 향수로 태어나 사랑받고 있을 만큼 향기롭지요.</p>

<p>1. 밝은 햇빛을 보면 기분이 좋아요.</p>

<p>동북아시아 일대가 고향인 치자나무는 우리나라의 일반적인 환경에서 잘 자라는 친구예요. 밝은 빛을 좋아하기 때문에 실내에서는 최대한 빛이 많이 드는 베란다나 발코니, 남향 창가에서 키워주세요. 하루 반나절은 직사광을, 여의치 않다면 따뜻한 간접광을 온종일 받게 해주시는 게 좋습니다. 13~18도의 온도에서 가장 편안하게 자랍니다.</p>

<p>2. 건조하면 잎이 떨어져요.</p>

<p>햇빛 잘 드는 치자의 자리를 찾아주었다면, 다음 단계는 습도 조절이에요. 대부분의 식물이 그렇듯이 치자나무도 촉촉한 환경을 좋아하는데요, 너무 건조한 환경에서는 애써 키운 꽃과 잎을 모두 떨굴 수 있답니다. 특히 겨울철 각종 난방기구가 뿜어내는 열기로 인한 건조함은, 치자에게 쥐약이니 습도가 떨어지지 않도록 신경 써 주세요.</p>

<p>물은 겉흙이 마르는 대로 화분 배수구멍에 물이 빠져나올 때까지 듬뿍 주세요. 만약 스밈에서 키우신다면 보름에 한 번 정도 외피에 물이 있는지 확인하고, 충전해주시면 됩니다.</p>

<p>3. 해충의 습격을 조심하세요!</p>

<p>치자꽃은 개각충(깍지벌레), 진딧물, 응애, 가루이 등 해충의 공격을 잘 받는 편이니 늘 관심을 가지고 들여다보며 케어해 주셔야 해요.</p>

<p>자라는 환경이 통풍이 되지 않으면서 너무 따뜻하고 건조할 때 주로 공격을 당한답니다. 심하지 않은 경우엔 비눗물이나 세제를 한 방울 떨어뜨린 물로 잎 앞뒷면을 잘 닦아주는 것으로 해결되지만, 한 번에 퇴치되지 않을 땐 천연 살충제를 구매해 일주일 정도의 간격으로 구석구석 뿌려주셔야 해요. 아래는 각 경우에 대한 대처 방법이랍니다. 미리 치자가 겪을 수 있는 병에 대해 공부하고, 준비된 엄마, 아빠가 되어보아요!</p>

<p>4. 꽃이 피지 않는다면?</p>

<p>6월이 되면 윤기 나는 잎들 사이로 하얀 꽃이 올라올 텐데요, 아무리 기다려도 감감무소식이라면, 빛이 부족해서일 가능성이 매우 커요.</p>

<p>다른 식물도 그렇지만, 치자는 환경의 변화에 매우 민감한 식물입니다. 화원에서 꽃이 잔뜩 피어난 치자를 데려왔는데 우리 집에서는 모두 고개를 떨궜다거나, 잎이 건강한데 꽃이 올라오지 않는다면 꽃을 피우기에 충분한 빛을 받지 못했기 때문이에요. 이럴 땐 빛이 더 잘 드는 쪽으로 위치를 옮겨주셔야 합니다.</p>

<p>꽃이 지고 나면 꽃대를 자르고 다음 해를 준비해요. 이때 불필요한 가지나 수명이 다한 잎들을 함께 정리해주시면, 예쁜 수형으로 피어나는 치자를 내내 즐길 수 있을 거예요.</p>